@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


/*////////////////////////////////////////////////////////////////////////
Table of Contents:
    1. Global Styles
    2. Typografie
    3. Areas
        3.1 Header
        3.2 Testimonial
        3.3 Support
        3.4 Faq
        3.5 Footer
////////////////////////////////////////////////////////////////////////*/
/* Gebruik de volgende kleurencodes:
   Grijs #899CA0
   Donkergroen #1C2B32
 */

/*////////////////////////
    1. Global Styles
////////////////////////*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*////////////////////////
    2. Typography
////////////////////////*/
body {
    font-family: 'Poppins', sans-serif;
    color: #000;
    background-color: #fff;
}
input,
button,
link {
    font-family: inherit;
}
a,
a:visited {
    color:#899CA0;
    text-decoration: none;
    font-weight: 600;

}

/*////////////////////////
    3. Areas
////////////////////////*/
main {
    width: 1000px;
    margin: 20px auto 20px auto;
    align-content: center;
}
/*///////////// 3.1 Header /////////////*/
.header-section {
    background-image: url("/assets/images/mountains.jpg");
    background-size: 100%;
    background-position: center;
    background-color: gold;
}
.header-content {
    padding: 150px 50px;
    text-align: center;
}
.header-content h1 {
    font-size: 40px;
    font-weight: 700;
}
.input-text {
    padding: 20px;
    border-radius: 40px 0px 0px 40px;
}
.header-content button {
    color: #899CA0;
    border-radius: 40px 0px 0px 40px;
}

/*///////////// 3.2 Testimonial /////////////*/
.article-content {

}
.article-content h2 {
    font-size: 30px;
    font-weight: 600;
}


/*///////////// 3.3 Support /////////////*/



/*///////////// 3.4 Faq /////////////*/



/*///////////// 3.5 Footer /////////////*/
footer {
    background-color:#1C2B32;
    padding: 20px 0px 20px 0;
    font-size: 15px;
    text-align: center;
    color: white;
}